html, body {
    height: 100%
}

body {
    background-image: 
        linear-gradient(to top,
        rgb(253, 219, 146) 0%,
        rgb(209, 253, 255) 100%); 
    left: -1001px;
    top: -1202px;
}

.jumbotron {
    background: transparent
}

.btn-lg {
    color:#fff;
    background-color:rgb(5, 158, 167); 
    border-color:rgb(5, 158, 167)
}